WHATSAPP_BASE_URI=https://graph.facebook.com/v20.0
WHATSAPP_PHONE_NUMBER_ID=your_number_id
WHATSAPP_ACCESS_TOKEN=your_token
WHATSAPP_BUSINESS_ACCOUNT_ID=your_business_account_id
WHATSAPP_WEBHOOK_VERIFY_TOKEN=your_verify_token
WHATSAPP_WEBHOOK_SECRET=your_app_secret
WHATSAPP_DEFAULT_LANGUAGE=en_US
WHATSAPP_RATE_LIMIT=30
WHATSAPP_APP_ID=your_app_id
WHATSAPP_TIMEOUT=30
WHATSAPP_RETRY_TIMES=3
WHATSAPP_RETRY_SLEEP=200
WHATSAPP_WEBHOOK_DEDUPLICATE=true
WHATSAPP_MESSAGE_LOG=false
