parameters:
    level: 5
    paths:
        - src
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Facade::.*#'
    bootstrapFiles:
        - vendor/autoload.php
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: false
